<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-xs-8 offset-md-1">
    <h1>Editing Business</h1>

    <%= render 'form', business: @business %>

    <%= link_to 'Show', @business, :class => 'btn btn-primary' %>
    <%= link_to 'Back', dashboard_path, :class => 'btn btn-primary' %>
  </div>
</div>