<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-xs-8 offset-md-1">
    <h1>Create Business</h1>
    <%= render 'form', business: @business %>
    <%= link_to 'Back', dashboard_path %>
  </div>
</div>