<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-sm-8 offset-md-1">
    <div id="jobs" class="list-group">
      <% @jobs.each do |job|%>
        <%= link_to job.fullname, job, class: "list-group-item"%>
      <%end%>
    </div>
  </div>
</div>