<div class="row">
  <%= render :partial => 'partials/dashboard' %>

  <div class="col-xs-8 offset-md-1">
    <h1>Edit Client</h1>

    <%= render 'form', client: @client %>

    <%= link_to 'View Client', client_path(@client), :class => 'btn btn-primary' %>
  </div>
</div>