/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* 
*= require jquery-ui
*/

@import 'bootstrap';

.immediate-user-action {
  background-color: rgb(211, 109, 109) ;
}

a, a:visited, a:hover {
  color: white;
}

a.dash-menu, a:hover.dash-menu, a:visited.dash-menu, a.dash-action, a.dark-a {
  color: #666;
}
a:hover.dark-a{
  background-color: #0069d9;
  color: white;
}

.dash-action:hover{
  background-color: #0069d9;
  color: white;
}

.nav-menu-custom .nav-menu-custom:visited {
  color: #666;
}

.nav-menu-custom:hover {
  background-color: #0069d9;
  color: white;
}